################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pratik.BookSore/obj
/Pratik.BookSore/bin/Debug/netcoreapp3.1
/Pratik.BookSore/.vs/Pratik.BookSore/v17
